:root {
  --indeed-blue: #2557a7;
}

body {
  background-color: #f5f7f8;
}

.navbar-brand img {
  height: 80px;
  margin-right: 5px;
}

.navbar-indeed {
  background-color: #000;
}

.navbar-indeed .navbar-brand,
.navbar-indeed .nav-link,
.navbar-indeed .navbar-toggler-icon {
  color: #fff;
}

.navbar-indeed .btn-outline-secondary {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.navbar-indeed .btn-outline-secondary:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.navbar-indeed .nav-link:hover {
  color: #dbe4f2;
}

.btn-primary {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.btn-outline-primary {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.btn-outline-primary:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}
